/*! purgecss start ignore */
@tailwind base;
/*! purgecss end ignore */

@tailwind components;

/*! purgecss start ignore */

.nav-toggle-off {
    @apply bg-gray-400 text-white;
}

#nav-notebook {
    @apply bg-gray-800;

    .header { @apply text-white; }
    .notebook {
        &-header { @apply text-white; }
        &-list {
            li {
                @apply text-gray-400;

                &:hover {
                    @apply bg-gray-700 text-yellow-600;
                }

                &.active {
                    @apply bg-teal-700;
                }
            }
        }
    }

    .tag {
        &-header { @apply text-white; }
        &-list {
            li {
                @apply text-gray-400;

                &:hover {
                    @apply bg-gray-700 text-yellow-600;
                }

                &.active {
                    @apply bg-teal-700;
                }
            }
        }
    }
}

#nav-page {
    @apply bg-gray-700;

    .page {
        &-header { @apply text-white bg-gray-800; }
        &-list {
            @apply text-white;

            li {
                &:hover {
                    @apply bg-gray-800;
                }
                
                &.active {
                    @apply bg-teal-700;
                }
                &.highlight {
                    @apply bg-yellow-600;
                }
            }
        }
    }
}

#main {
    .header {
        @apply bg-gray-700 text-white;
    }
}

#viewer {
    @apply text-base leading-normal bg-gray-200;

    a {
        @apply text-blue-700 underline;
    }

    a:visited {
        @apply text-blue-800;
    }

    a:hover {
        @apply text-blue-400;
    }

    a:active {
        @apply text-yellow-600;
    }

    a:focus {
        outline: thin dotted;
    }

    a:hover, a:active {
        outline: 0;
    }

    ::-moz-selection {
        @apply text-black bg-yellow-200;
    }

    ::selection {
        @apply text-black bg-yellow-200;
    }

    a::-moz-selection {
        @apply text-blue-800 bg-yellow-200;
    }

    a::selection {
        @apply text-blue-800 bg-yellow-200;
    }

    p {
        @apply my-4;
    }

    .alert-description p {
        @apply my-0;
    }

    img {
        @apply max-w-full;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply leading-loose font-medium text-gray-900;
    }

    h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-sm;
    }

    blockquote {
        @apply text-gray-800 m-0 pl-4 border-l-8 border-blue-400;
    }

    hr {
        @apply block p-0 my-4 border-t border-b border-gray-400;
    }

    pre, code, kbd, samp {
        @apply text-xs;
    }

    :not(pre)>code {
        @apply bg-gray-400 px-1 mx-1 text-sm;
    }

    pre {
        @apply whitespace-pre-wrap break-words;
    }

    pre.hljs {
        @apply relative py-2 pl-12 pr-2;
        counter-reset: line-number;
    }

    span.line-number-rows {
        @apply absolute top-0 left-0 my-2 w-10 border-r border-gray-400 text-right;
    }

    span.line-number-rows > span {
        @apply mr-2;
        counter-increment: line-number;
    }
    span.line-number-rows > span::before {
        @apply text-gray-200;
        content: counter(line-number);
    }

    b, strong {
        @apply font-bold;
    }

    dfn {
        @apply italic;
    }

    ins {
        @apply text-black bg-gray-200;
    }

    mark {
        @apply bg-yellow-900 text-white italic font-bold;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    ul, ol {
        @apply my-2 pl-8;
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }

    li p {
        @apply m-1;
    }

    dd {
        @apply ml-4;
    }

    img {
        @apply align-middle border-0;
        -ms-interpolation-mode: bicubic;
    }

    table {
        @apply border-collapse border-2 border-gray-500;
    }

    th, td {
        @apply border-2 border-gray-400 px-4 py-2;
    }

    .message {
        &-error {
            @apply bg-red-200 border-red-300;

            & .message-icon {
                @apply bg-red-100 border-red-500 text-red-500;
            }

            & .message-title{
                @apply text-red-800;
            }
            & .message-description {
                @apply text-red-600;
            }
        }

        &-warning {
            @apply bg-yellow-200 border-yellow-300;

            & .message-icon {
                @apply bg-yellow-100 border-yellow-500 text-yellow-500;
            }

            & .message-title{
                @apply text-yellow-800;
            }
            & .message-description {
                @apply text-yellow-600;
            }
        }

        &-success {
            @apply bg-green-200 border-green-300;

            & .message-icon {
                @apply bg-green-100 border-green-500 text-green-500;
            }

            & .message-title{
                @apply text-green-800;
            }
            & .message-description {
                @apply text-green-600;
            }
        }

        &-info {
            @apply bg-blue-200 border-blue-300;

            & .message-icon {
                @apply bg-blue-100 border-blue-500 text-blue-500;
            }

            & .message-title{
                @apply text-blue-800;
            }
            & .message-description {
                @apply text-blue-600;
            }
        }
    }
}

iframe {
    @apply border-0 fixed top-0 left-0 right-0 bottom-0 w-full h-full;
}
/*! purgecss end ignore */


@tailwind utilities;